# ─────────────────────────────────────────────────
# IMT Projet Ouvert — Variables d'environnement
# ─────────────────────────────────────────────────

# Base de données Neon PostgreSQL
DATABASE_URL="postgresql://user:password@host/database?sslmode=require"
DIRECT_URL="postgresql://user:password@host/database?sslmode=require"

# NextAuth.js
AUTH_SECRET="your-auth-secret-here"
NEXTAUTH_URL="http://localhost:3000"
